<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <tittle>
        kluniversity
    </tittle>
</head>
<body style="background-color: blanchedalmond;">
    <h7>nithyasri</h7>
    <p>welcome to webapps club . at present the session<hr> is going ij r301aS</p>
    <strong>hello</strong>
    <a href="https://newerp.kluniversity.in/index.php" >KLU ERP WEBSITE</a>
    <img src="C:\Users\indur\OneDrive\Documents\Desktop\MSWD\pic1.jpeg" alt="no image" width="200" height="200">
    <p style="color:green"> i am nithya sri</p>
    <pre>vijayawada vaddeswaram 
        kl university</pre>
        
</body>
</html>