/* src/App.css */
.App {
  text-align: center;
}

.feedback-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.counselor-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
